{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">#sl</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <th scope="row">{{ emp.id }}</th>
                    <td>{{ emp.first_name }} {{ emp.last_name}} </td>
                    <td>{{ emp.email }}</td>
                    <td>{{ emp.gender }}</td>
                    <td>
                    <a href="employee_detail/{{ emp.id }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock body %}